
$primary: #32936F;
$secondary: #E0A458;
$couleur-bg: #FFDBB5;
$btn-border-radius: 10px;
$font-family-base: 'oxygen', serif;
@import "node_modules/bootstrap/scss/bootstrap";

/*-------------------extend-------------------*/
.font-p{
    font-family: 'antic slab', serif;
    font-size: 1rem;
}

/*------------------general------------------*/
main, html{
    background-color: $couleur-bg;
} 

p{
    @extend .font-p;
}

/*---------------navigation-----------------*/
.skip{
    clip: rect(1px, 1px, 1px, 1px);
    :focus{
        clip: auto;
    }
}
.navbar{
    background-color: $primary;
}

.nav-item{
    transition: 1s;
    &:visited{
        color: #663366;
    }
    &:hover{
        transform: translateY(-10px);
        transition: 1s;
        color: #000000;
    }
}

.nav-link{
    text-decoration: none;
    text-align: right;
    font-size: 2rem;
    transition: 1s;
    color: #ffffff;
    font-family: 'antic slab', serif;
}

.custom-toggler .navbar-toggler-icon{
    background-color: #ffffff;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-brand:focus{
    border: 2px solid black;
}

.form-control{
    border: none;
    &:focus{
        background-color: $couleur-bg;
    }
}

.input-group-text{
    background-color: #ffffff;
    max-height: 60%;
    max-width: 50%;
    margin: 3% 0 0 5%;
    border-radius: 20px;
    margin-bottom: 2%; 
}

/*------------------------------------aside-----------------------------------------*/
.aside{
    background-color: $secondary;
    border: 1px solid black;
}

.sidebar{
    margin-bottom: 30%;
    padding-bottom: 100%;
    &__item{
        padding-top: 10%;
        transition: 1s;
    }
    &__item:hover{
        transform: translateX(10px);
        transition: 1s;
    }
    &__item > a{
        color: #000000;
        font-size: 1.5rem;
        font-family: 'antic slab', serif;
    }
    &__link--active{
        font-weight: bold;
        background-color: $couleur-bg;
        border-radius: 20px;
    }
}

/*---------------------------------------formulaire---------------------------------*/
#reset{
    background-image:url(images/reset.svg);
    background-position:left;
    background-repeat:no-repeat;
    padding: 0 3% 0 5%;
}

#formulaire{
    border: 1px black solid;
}

input::placeholder, option, optgroup, .custom-select{
    font-family: 'Blinker', sans-serif;
}

/*------------------------------------------Mesprogrammes--------------------------*/

#card-1{
    opacity: 0;
    animation: apparition 5s 1s forwards; 
}
#card-2{
    opacity: 0;
    animation: apparition 5s 2s forwards; 
}

#card-3{
    opacity: 0;
    animation: apparition 5s 3s forwards; 
}

#card-4{
    opacity: 0;
    animation: apparition 5s 4s forwards; 
}

@keyframes apparition{
        0% {opacity: .2;}
        50%{opacity: .5;}
        100% {opacity: 1;}
}

.card-title{
    font-size: 1.8rem;
    font-weight: bold;
    text-decoration: underline;
    
}

/*-------------------------------------------footer--------------------------------*/
.page-footer{
    padding-top: .5%;
    background-color: $primary;
    @extend .font-p;
}



